{block content}
<p class="lead">
    {$question_number}/{$question_n}) Jaký je {$question->family === 'major' ? 'durový' : 'molový'}
    {$question->type} od tónu {$question->note}?
</p>
{control chordQuestionForm}

<hr/>
<p>
    Zadejte akord po tónech ve správném pořadí. Jednotlivé tóny oddělujte čárkou nebo mezerou.
</p>