{block content}


{form testForm}

    <ul class="list-group errors" n:if="$form->hasErrors()">
        <li class="list-group-item list-group-item-danger" n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div class="row">
        {foreach $form['settings']->components as $control}
            <div class="form-group col-md-4">
                <div class="card">
                    <div class="card-header">
                        {label $control /}
                    </div>
                    <div class="card-body">
                        {input $control}
                    </div>
                </div>
            </div>
        {/foreach}
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {label questions /}
                </div>
                <div class="card-body">
                    {input questions}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="card">
                <div class="card-body">
                    {input submit}
                </div>
            </div>
        </div>
    </div>
{/form}
